html, body {
    height: 100%;
    width: 100%:
}

#parent {
		width: 100%;
		height: 100%;
    max-width: 600px;
    max-height: 400px;
}

#map {
    height: 50%;
}

#container {
    height: 30%;
}
#gallerycontent .galleryitem{
    width: 250px;
    height: 250px;
    background:url('../images/screen.png');
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    clear: both; display:inline-block
}
